body {
    margin: 0;
    background-color:#000000;
    font-family: "Raleway", sans-serif;
}

h1, h2, p {
    color: #ffffff;
}

header {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 73px;
    background-color: #000000;
}

header h1{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-top: 7px;
    margin-left: 530px;
    margin-bottom: 0px;
    width: 221px;
    height: 59px;
}

section {
    top: 73px;
    left: 0px;
    bottom: 0px;
    width: 1280px;
    height: 727px;
    background-color: #000000;
    background-repeat: no-repeat;

}

.header_iguana {
    background-image: url(../img/bg-header.jpg);
}


/*Descripcioin*/
.descripcion-sec {
    display: Flex;
    background-color: #000000;
    width: 1280px;
    height: 348px;
    padding-bottom: 0px;
}

.desc-sec-tex {
    display: block;
    padding-left: 150px;
    top: 876px;
    left: 150px;
    width: 475px;
    height: 197px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.desc-sec-img-iguana_1 {
    padding-left: 106px;
    top: 845px;
    left: 731px;
    width: 399px;
    height: 237px;
    bottom: 0px;
}

/*Caracteristicas*/
.sec-iconos {
    display: flexbox;
    align-content: center;
    top: 1141px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background-color: #1E1A13;
    opacity: 0.98;
    width: 100%;
}

.sec-iconos h2 {
    padding-top: 47px;
    padding-left: 463.5px;
    width: 356px;
    height: 47px;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0px;
    opacity: 1;
}

.centrado-iconos {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    width: 100%;
}

.fa-eye {
    padding-top: 70px;
    padding-left: 326px;
    width: 57px;
    height: 36.64px;
}

.fa-hand-peace {
    padding-top: 50px;
    padding-left: 232px;
    width: 39px;
    height: 57px;
}

.fa-paint-brush {
    padding-top: 57px;
    padding-left: 255px;
    padding-bottom: 16px;
    width: 41px;
    height: 49px;
}


/*3 Secction*/
.sec-3 {
    position: initial;
    top: 1448px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background-color: #000000;
    opacity: 0.96;

}

.centrado-imagenes {
    display: flex;
    width: 100%;
}

#foto1 {
    position: absolute;
    top: 1561px;
    left: 150px;
    width: 316px;
    height: 202px;
    opacity: 1;
}

#foto2 {
    position: absolute;
    top: 1561px;
    left: 482px;
    width: 316px;
    height: 202px;
    opacity: 1;
}

#foto3 {
    position: absolute;
    top: 1561px;
    left: 814px;
    width: 316px;
    height: 202px;
    opacity: 1;
}

/*Pie de Pagina*/
footer {
    position: relative;
    top: 1835px;
    left: 0px;
    width: 1280px;
    height: 102px;
    background-color: #1E1A13;
}

footer p {
    top: 1874px;
    left: 299px;
    width: 682px;
    height: 24px;
    text-align: left;
    font-weight: 300;
    opacity: 1;
}